vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Oct 2013 16:31:55 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|12 Oct 2013 16:31:55 -0000
vti_filesize:IR|9593
vti_backlinkinfo:VX|wordpress_437746477/wp-includes/js/tinymce/plugins/wpeditimage/editimage.html
