vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Oct 2013 16:32:02 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|12 Oct 2013 16:32:02 -0000
vti_filesize:IR|4480
vti_cachedlinkinfo:VX|S|../images/icon-pointer-flag.png S|../images/xit.gif S|../images/arrow-pointer-blue.png S|../images/xit-2x.gif S|../images/icon-pointer-flag-2x.png S|../images/arrow-pointer-blue-2x.png
vti_cachedsvcrellinks:VX|FSUS|wordpress_437746477/wp-includes/images/icon-pointer-flag.png FSUS|wordpress_437746477/wp-includes/images/xit.gif FSUS|wordpress_437746477/wp-includes/images/arrow-pointer-blue.png FSUS|wordpress_437746477/wp-includes/images/xit-2x.gif FSUS|wordpress_437746477/wp-includes/images/icon-pointer-flag-2x.png FSUS|wordpress_437746477/wp-includes/images/arrow-pointer-blue-2x.png
vti_backlinkinfo:VX|
