vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Oct 2013 16:33:25 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|12 Oct 2013 16:33:25 -0000
vti_filesize:IR|790
vti_cachedlinkinfo:VX|S|border-anim-v.gif S|border-anim-h.gif S|border-anim-v.gif S|border-anim-h.gif
vti_cachedsvcrellinks:VX|FSUS|wordpress_437746477/wp-includes/js/imgareaselect/border-anim-v.gif FSUS|wordpress_437746477/wp-includes/js/imgareaselect/border-anim-h.gif FSUS|wordpress_437746477/wp-includes/js/imgareaselect/border-anim-v.gif FSUS|wordpress_437746477/wp-includes/js/imgareaselect/border-anim-h.gif
vti_backlinkinfo:VX|
