vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Oct 2013 16:34:39 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|12 Oct 2013 16:34:39 -0000
vti_filesize:IR|4114
vti_cachedlinkinfo:VX|S|macFFBgHack.png S|tb-close.png S|tb-close-2x.png
vti_cachedsvcrellinks:VX|FSUS|wordpress_437746477/wp-includes/js/thickbox/macFFBgHack.png FSUS|wordpress_437746477/wp-includes/js/thickbox/tb-close.png FSUS|wordpress_437746477/wp-includes/js/thickbox/tb-close-2x.png
vti_backlinkinfo:VX|
